@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: black;
  background: white;
}

@layer base {
  .heading {
    @apply text-[2rem] leading-[2.52rem] md:text-[3.25rem] font-bold md:leading-[4.06rem]
  }
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .background-t {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 44.67%, #000000 85.67%),
    url("/images/shortlets/homepage.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .circle-path {
    clip-path: circle();
  }
}


